/* Artfully masterminded by Kevin Xu <kevin@imkevinxu.com> */

/* -----------------------------------------
   SHARED Styles
----------------------------------------- */

.fl { float: left; }
.fr { float: right; }
.clear { clear: both; }
.block { display: block; }
.hidden { display: none; }
.inline_block { display: inline-block; }
.error { color: #c60f13; }

/* -----------------------------------------
   LOGIN Styles
----------------------------------------- */

#login .columns {
    margin-top: 20px;
    padding: 20px 50px;
    background-color: #E9E9E9;
    border: 1px solid #C3C3C3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#login h2 {
    text-align: center;
    font-weight: 500;
}

#login li { list-style-type: none; }
#login ul.errorlist {
    color: red;
    font-style: bold;
}

#login input[type=submit] {
    width: 120px;
    margin-top: 10px;
    margin-left: 50%;
    left: -60px;
}

/* -----------------------------------------
   BASE Styles
----------------------------------------- */

header h1 {
    display: inline-block;
    font-weight: 500;
}

header #right_nav {
    position: absolute;
    right: 15px;
    top: 25px;
}

header #right_nav i {
    position: relative;
    padding-right: 4px;
    top: 1px;
}



body {
    background-image: url(http://subtlepatterns.com/patterns/furley_bg.png);
}

h1#tagline {
    margin-top: 100px;
    font-family: 'Buenard', serif;
    font-size: 9rem;
}

h3#byline {
    padding-top: 10px;
    font-size: 3.2rem;
    line-height: 4rem;
    color: #333;
    font-weight: 300;
}

form#username_form {
    margin: 60px 0;
}

form#username_form label {
    font-family: 'Buenard', serif;
    display: inline-block;
    font-size: 3.7rem;
}

form#username_form input[type=text] {
    font-family: 'Buenard', serif;
    display: inline-block;
    width: 200px;
    font-size: 3.7rem;
    border: none;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: center;
    height: 44px;
    border-bottom: 1px solid #ccc;
    background: inherit;
}

form#username_form input[type=text]:focus {
    background: inherit;
    color: black;
}

form#username_form input[type=submit] {
    display: block;
    margin-top: 50px;
    font-size: 2.5rem;
}

input.error::-webkit-input-placeholder { color: #E94158; }
input.error:-moz-placeholder { color: #E94158; }

#certificate {
    border: 1px solid #ccc;
    background-image: url(http://subtlepatterns.com/patterns/lightpaperfibers.png);
    padding: 1.5em 3em 3em;
    -moz-box-shadow:    3px 3px 6px 0px #A0A0A0;
    -webkit-box-shadow: 3px 3px 6px 0px #A0A0A0;
    box-shadow:         3px 3px 6px 0px #A0A0A0;
}

#certificate h3 {
    font-family: 'Buenard', serif;
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 25px;
}

#race {
    margin: 50px 0;
}

#race label {
    font-size: 2rem;
    margin-bottom: 10px;
}

h1#total_minutes {
    font-family: 'Buenard', serif;
    font-size: 5rem;
    margin-bottom: 150px;
}



.ribbon {
    font-size: 24px !important;
    /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
    width: 50%;
    position: relative;
    background: #50ACEB;
    color: #fff;
    text-align: center;
    padding: .7em 2em; /* Adjust to suit */
    margin: 2em auto 2em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before, .ribbon:after {
    content: "";
    position: absolute;
    display: block;
    bottom: -1em;
    border: 1.3em solid #4391C6;
    z-index: -1;
}
.ribbon:before {
    left: -2em;
    border-right-width: 1.7em;
    border-left-color: transparent;
}
.ribbon:after {
    right: -2em;
    border-left-width: 1.7em;
    border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #4F6E96 transparent transparent transparent;
    bottom: -1em;
}
.ribbon .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
}
.non-semantic-protector { position: relative; z-index: 1; }

/* END SPACING */