{% extends "base.html" %}
{% block title %}{{ username }}'s {{ super() }}{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}

<div class="non-semantic-protector">
    <h1 class="ribbon">
        <strong class="ribbon-content">{{ username }}</strong>
    </h1>
</div>

<div id="certificate" class="row">
    <div class="twelve columns">

        <h3>Certified Walker 2013</h3>

        <div class="row">
            <div class="six columns">
                <img src="http://farm1.staticflickr.com/13/14900584_05d7b5b5c6_b.jpg" id="walkingroad">
            </div>

            <div class="six columns">

                <p><strong>{{ username }}</strong> is a certified walker in the Walk Year registry for 2013. I have committed to walking more each day to live a healthier life and be more awesome. </p>

                <blockquote>Researchers found that walking briskly for 30 minutes every day lowers your odds ... of heart disease, diabetes, and stroke. <a href="http://articles.cnn.com/2008-06-12/health/healthmag.walking.health_1_metabolic-syndrome-reduction-in-heart-disease-risk-postmenopausal-women?_s=PM:HEALTH" target="_blank">[citation]</a></blockquote>

                <p>
                    <strong>Participate</strong> in the race.
                    <strong>Try</strong> out the <a href="http://www.walkingwizard.org/" target="_blank">Walking Wizard</a>.<br/>
                    <strong>Share</strong> your Walk Year certificate.
                </p>

                <a href="https://twitter.com/share" class="twitter-share-button" data-text="I'm a Certified Walker for 2013" data-via="walkyear" data-size="large" data-related="imkevinxu" data-count="none">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

            </div>
        </div>

    </div>
</div>

<div id="race" class="row">
    <form action="{% url update %}" method="post" class="six columns centered">{% csrf_token %}

        <label for="minutes">Today I walked:</label>
        <div class="row collapse">
            <div class="nine mobile-three columns">
                <input type="text" name="minutes" id="minutes" placeholder="30">
            </div>
            <div class="three mobile-one columns">
                <span class="postfix">minutes</span>
            </div>
        </div>

        <input type="hidden" name="username" value="{{ username }}">

        <input class="large success button" type="submit" value="I walked today!" />

    </form>
</div>

<center>
    <h1 id="total_minutes">I have walked {% if walker.minutes == None %}0{% else %}{{ walker.minutes }}{% endif %} minutes</h1>
</center>

<div class="row">
    <div class="eight columns centered">

        <table>
            {% for walker in walkers %}
                <tr {% if walker.username == username %}class="you"{% endif %}>
                    <td width="550px"><a href="/{{ walker.username }}">{{ walker.username }}</a></td>
                    <td><strong>{% if walker.minutes == None %}0{% else %}{{ walker.minutes }}{% endif %}</strong></td>
                </tr>
            {% endfor %}
        </table>

    </div>
</div>



{% endblock %}

{% block javascript %}{% endblock %}
